/*custom*/
@font-face {
    font-family:Roboto;
    src: url(sansation_light.woff);
}
/*font-sizes*/
.font400{font-weight: 400;}
.font500{font-weight: 500;}
.font700{font-weight: 700;}

.sectiontitle{font-size: 1.8em}
.articletitle{font-size: 1.6em;}

body{
	font-family: "Roboto", Arial;
	background: #030E1B ;
}
.container {
	width: 100%;
	float:left;
	background: #0A315B;
	color:#FFF;
}
.container header{
	float: left;
	padding: 15px;
}
.menu{
	position: absolute;
	top: 0;
	right: 0;
}
.menu ul{
	padding:27px 15px;
}
.menu li{
	display: inline;
	margin:25px;
	}

.menu li:hover{
	
}
.menu a {
	text-decoration: none;
	color:#FFF;
	font-size: 1.0em;
	transition:font-size 1.2s;
}
.menu a:hover{
	font-size: 1.8em;

}
.slider img{
	width:100%;
}

.content{
	width: 80%;
	background: #11539B;
}
.notices{
	margin:0 auto;
	text-align: center;
}
.notices span {
	padding: 25px;
	display: inline-block;
	position: relative;

}
.notice1{
	background:#7f8c8d !important;
	color:#fff;
	border-radius: 5px;
}
.notice2{
	background:#16a085 !important;
	color:#fff;
	border-radius: 5px;
}
.notice3{
	background:#2c3e50 !important;
	color:#fff;
	border-radius: 5px;
}
.content article{
	background:#0E4581;
	float:left;
	width: Calc(100% / 3);
}
.content h1 {
	width: 100%;
	color:#FFF;
	text-align: center;
}
.content p {
	padding: 25px;
}

section .content1{
	width: 70%;
	float:left;
	padding: 15px;
}
.footer{
	float: left;
	clear: both;
	width: 100%;
	background:#0E4581;
	color:#FFF;
}
.footer header{
	float: left;
	padding: 15px;
}
.footer footer{
	position: absolute;
	top: 0;
	right: 0;
}
.margin-auto{margin: 0 auto;}
.footer ul {float:right; padding: 10px}
.footer li {display: inline-table;}
.social-footer li{margin:0 15px; color:#FFF;}
.border{border:2px solid red;}