/*custom*/
/*font-sizes*/
.font400{font-weight: 400;}
.font500{font-weight: 500;}
.font700{font-weight: 700;}
.nofontsize{font-size: 0em;}

.sectiontitle{font-size: 1.8em} 
.articletitle{font-size: 1.6em;}
/*Responsive*/ 
img,embed,object,video {  width: 100%; } 
body{font-family: "Roboto", Arial;background: #030E1B ; }
.container {width: 100%;background: #0A315B;color:#FFF; }
.container header{padding: 15px; width:80%;}
 /*MENU*/ 
.menu{  position:absolute; top: 0; right: 0;} 
.menu ul{padding:27px 15px;} 
.menu li{display: inline;    margin:25px;    } 
.menu a {text-decoration: none;color:#FFF; font-size: 1.0em;   transition:font-size 1.2s;} 
.menu a:hover{font-size: 1.8em;}
.menu-icon {display: none;} 
.menu-icon {text-decoration:none; color:#FFF; float:right; 
      padding:0 15px; margin-top: -60px }

/*Slider*/
#owl-demo .item img{display: block;    width: 100%; float:left;}
.item h1{color:#FFF; font-size: 3em;padding: 20px; 
		position: absolute; width: 100%;text-align: center; 
		text-shadow: 1px 1px 4px #000;}

/*Notices*/
.notices{	margin:0 auto;	text-align: center;}
.notices span {padding: 25px;	display: inline-block;	position: relative;}
.notice1{	background:#7f8c8d !important;	color:#fff;	border-radius: 5px;}
.notice2{	background:#16a085 !important;	color:#fff;	border-radius: 5px;}
.notice3{	background:#2c3e50 !important;	color:#fff;	border-radius: 5px;}
/*Content*/

.content{	width: 80%;	background: #11539B;}
.content article{	background:#0E4581;	float:left;	width: 30%;	margin: 5px 10px;}
.content h1 {	width: 100%;	color:#FFF;	text-align: center;}
.content p {	padding: 25px;}
section .content1{	width: 70%;	float:left;	padding: 15px;}

.footer{	float: left;	clear: both;	width: 100%;	background:#0E4581;	color:#FFF;}
.footer header{	float: left;	padding: 15px;}
.footer footer{	top: 0;	right: 0;}

.margin-auto{margin: 0 auto;}
.footer ul {float:right; padding: 10px}
.footer li {display: inline-table;}
.footer a {text-decoration: none; color:#FFF; }
.social-footer li{margin:0 15px; }
.social-footer .fa-facebook:hover{ color:#3b5998;}
.social-footer .fa-twitter:hover{ color:#4099FF;}
.social-footer .fa-google-plus:hover{ color:#dd4b39;}
.border{border:2px solid red;}


/*
1200px – Desktops, notebooks com monitores widescreen
***********************************************************/
@media screen and (max-width: 1200px){
      .menu{display: block}
}
/*
960px – Tablets no formato paisagem e alguns monitores mais antigos
***********************************************************/
@media screen and (max-width: 960px){
	  .menu{display: block}
      .notices article{width: 100%; margin:10px 0;}
      .footer header{position: relative; margin:0 auto;}
}
/*
768px – Tablets no formato retrato, como o iPad
***********************************************************/
@media screen and (max-width: 768px){
      .menu{display: none; z-index: 9000}
	  .menu ul{background-color: #000; border: 1px solid #FFF;float:left; }
	  .menu li{width: 100%; float:left;}
	  .menu-icon{display: block; position:relative;z-index: 9001}
      .notices article{width: 100%; margin:10px 0;}
      .footer header{position: relative; margin:0 auto;}
}
/*
480px – Smartphones no formato paisagem com tela pequena
***********************************************************/
@media screen and (max-width: 480px){
      .menu{display: none; z-index: 9000}
	  .menu ul{background-color: #000; border: 1px solid #FFF;float:left; }
	  .menu li{width: 100%; float:left;}
	  .menu-icon{display: block; position:relative;z-index: 9001}
      .notices article{width: 100%; margin:10px 0;}
      .footer header{position: relative; margin:0 auto;}
}
/*
320px – Smartphones no formato retrato com tela pequena
***********************************************************/
@media screen and (max-width: 320px){
  .menu{display: none; z-index: 9000}
  .menu ul{background-color: #000; border: 1px solid #FFF;float:left; }
  .menu li{width: 100%; float:left;}
  .menu-icon{display: block; position:relative;z-index: 9001; }
  .notices article{width: 100%; margin:10px 0;}
  .footer header{position: relative; margin:0 auto;}
}